.signup {
  height: 110vh;
  margin-top: 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 400px;
  background-color: var(--background-color);
  /* border-radius: 12px; */
}
.card-body {
  display: flex;
  flex-direction: column;
}
label.radio {
  cursor: pointer;
  width: 100%;
}
label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-control {
  /* margin-top: 10px; */
  height: 48px;
  border: 1px solid var(--secondary-color);
  /* border-radius: 10px; */
}

.agree-text {
  font-size: 12px;
}
.terms {
  font-size: 12px;
  text-decoration: none;
  color: #039be5;
}
.confirm-button {
  background-color: var(--secondary-color);
  height: 40px;
  text-align: center;
}
#btn {
  background-color: var(--secondary-color);
}
@media screen and (max-width: 768px) {
  body {
    background-color: var(--background-color);
  }
  .card {
    background-color: var(--primary-color);
    border-radius: 12px;
  }
  .information {
    color: var(--background-color);
  }
  .new__ba {
    color: var(--secondary-color);
  }
}
