.event {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  height: auto;
  width: 400px;
}
.name {
  color: var(--secondary-color);
  font-weight: 700;
}

.event .event-card-container {
  width: 100%;
  height: auto;
  margin: 0%;
  border: 1px solid var(--secondary-color);
}
.event-card-container img {
  width: 100%;
  height: 50%;
  margin: 0;
  object-fit: cover;
}
.event-rendered-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .event {
    width: 100%;
    height: auto;
  }
  .event-card-container {
    margin-top: 10px;
  }
  .event-card-container img {
    height: 50%;
    object-fit: cover;
  }
  .event-rendered-holder {
    margin-bottom: 10px;
  }
}
